.modal {
  .modal-content {
    background-color: $main-background-2;
    color: #cccccc;
    border: 1px #606060 solid;
  }

  .modal-footer {
    border: none;
    background-color: $main-background;
    display: block;
  }
}

