.tournament-bar:hover{
  background-color: $main-background-3;
}
.tournament-bar {
  display: block;
  width: 100%;
  max-width: 1000px;
  background-color: $main-background-2;
  border-left: 5px $main-green solid;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 10px 0;

  .image {
    display: inline-block;
    margin-right: 20px;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .info {
    display: inline-block;
    color: white;
    vertical-align: middle;
  }
  .game {
    color: #999999;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
  }
  .name {
    color: #cccccc;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0 0 5px 0;
    box-sizing: border-box;
  }
  .additional-info {
    display: inline-block;
    color: white;
    vertical-align: middle;
    text-align: right;
  }

  .participants {
    font-size: 14px;
    margin: 0 0 10px 0;
    color: #999999;
  }

  svg {
    margin: 0 10px;
  }
}

.tournament-menu {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px #808080 solid;

  a {
    color: #cccccc;
    font-size: 16px;
    padding: 10px 25px;
    box-sizing: border-box;
  }

  a:hover {
    text-decoration: none;
    background-color: $main-background-3;
    color: #cccccc;
    border-bottom: 3px $main-green solid;
  }
}

.tournament-participants {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;

  .team {
    background-color: $main-background-3;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 15px;
  }

  .index {
    display: inline-block;
    background-color: $main-green;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  .name {
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
  }
}

.tournament-matches {
  display: block;
  width: 100%;
  .match {
    display: inline-block;
    width: calc(100% - 150px);
    margin: 0;
  }
  .round-no {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .match-bar {
    background-color: $main-background-3;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    margin: 10px 0;
  }

  .match-no {
    background-color: $main-green;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 5px;
  }

  .team {
    display: inline-block;
    width: calc(50% - 50px);
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    padding: 0 5px;
  }

  .team-left {
    @extend .team;
    text-align: right;
  }

  .team-right {
    @extend .team;
    text-align: left;
  }

  .score {
    @extend .match-no;
    width: 80px;
    background-color: $main-background-2;
    margin: 0 10px;
  }
  .spacer {
    padding: 0 5px;
  }
  .edit {
    @extend .match-no;
    background-color: $main-background-2;
    font-size: 14px;
  }

  .edit:hover {
    background-color: $main-green;
    cursor: pointer;
  }
}

.tournament-table {
  display: block;
  width: 100%;
  max-width: 800px;

  .team-bar {
    background-color: $main-background-3;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    margin: 10px 0;
  }

  .header-bar {
    @extend .team-bar;
    background-color: $main-green;
  }

  .empty-statistic {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
  }

  .place {
    background-color: $main-green;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 5px;
  }

  .name {
    text-align: left;
    display: inline-block;
    width: calc(100% - 300px);
    margin: 0;
    line-height: 30px;
    font-size: 15px;
  }

  .statistic {
    @extend .place;
    background-color: $main-background-2;
    font-size: 14px;
  }
}

.tournament-header-bar {
  width: 150px !important;
  height: 10px !important;
  background-color: $main-background-3 !important;
  border-radius: 0 !important;

  .progress-bar {
    background-color: $main-green;
  }
}

.tournament-header {
  vertical-align: middle;
}

.tournament-header span {
  font-size: 36px;
}

.tournament-header-progress {
  display: inline-block;
  float: right;
  vertical-align: middle;
}

.tournament-bar-progress {
  width: 100px !important;
  height: 5px !important;
  background-color: $main-background-3 !important;
  border-radius: 0 !important;

  .progress-bar {
    background-color: $main-green;
  }
}
