.app-settings {
  background-color: #404040;
  color: white;
  height: 100%;
}


@import 'stylesheets/landing';
@import 'stylesheets/landing-menu';
@import 'stylesheets/buttons';
@import 'stylesheets/login';
