.app-settings {
  background-color: #202020;
  color: white;
  height: 100%; }

.loader {
  background-color: #202020;
  z-index: 10;
  color: white;
  margin: auto;
  max-height: 100%; }
  .loader svg {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px; }

.landing-bg {
  background-image: url("./assets/bg.png");
  background-size: auto;
  background-position: center;
  color: white;
  height: 500px; }

.landing-introduction {
  text-align: right; }

.menu-bar {
  margin-top: 30px;
  height: 60px;
  line-height: 60px; }

.button, .button-primary-mini, .button-secondary {
  text-transform: uppercase;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  background-color: white;
  color: #303030;
  padding: 10px 30px;
  box-sizing: border-box;
  border: 2px white solid;
  border-radius: 50px; }

.button:hover, .button-primary-mini:hover, .button-secondary:hover {
  text-decoration: none;
  background-color: transparent;
  color: white; }

.button-primary-mini {
  font-size: 14px;
  padding: 8px 20px; }

.button-secondary {
  background-color: transparent;
  color: white; }

.button-secondary:hover {
  background-color: white;
  color: #303030; }

.button-primary-mini:hover {
  background-color: transparent;
  color: white;
  border: 2px white solid;
  text-decoration: none; }

.link-button {
  color: white;
  box-sizing: border-box;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 14px; }

.link-button:hover {
  color: white; }

.login-box, .signup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 450px;
  margin-top: -225px;
  margin-left: -200px;
  border: 1px solid #555;
  background-color: #303030;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  color: #cccccc; }
  .login-box input, .signup-box input, .login-box input:focus, .signup-box input:focus {
    background-color: #202020;
    color: #cccccc;
    border: 1px solid #555;
    border-radius: 20px; }

.signup-box {
  height: 650px;
  margin-top: -350px; }

.dashboard {
  width: 100%;
  min-height: 100%;
  display: flex; }

.dashboard-menu {
  background-color: #303030;
  margin: 0 -15px;
  color: white;
  min-height: 100%;
  width: 300px;
  min-width: 300px; }
  .dashboard-menu .logo {
    height: 100px;
    background-color: #151515; }
  .dashboard-menu .logo a {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 20px 0; }
  .dashboard-menu .user {
    text-align: center;
    padding: 30px 0 10px 0; }
  .dashboard-menu .user p {
    margin: 30px 0 20px 0;
    font-size: 18px; }
  .dashboard-menu .user img {
    border-radius: 50%; }
  .dashboard-menu .spacer {
    display: block;
    margin-left: 10%;
    width: 80%;
    height: 1px;
    background-color: #808080;
    margin-bottom: 10px; }
  .dashboard-menu .section {
    color: #cccccc;
    width: 100%;
    margin-bottom: 10px; }
  .dashboard-menu .section p {
    padding: 0 10px;
    margin: 5px 0; }
  .dashboard-menu .section a {
    color: #cccccc;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    display: block;
    border-left: 3px transparent solid; }
  .dashboard-menu .section a:hover {
    text-decoration: none;
    background-color: #404040;
    border-left: 3px #136576 solid; }
  .dashboard-menu .section svg {
    margin: 0 20px; }

.dashboard-page {
  padding: 100px 80px 0 100px; }

.dashboard-content {
  padding: 0 80px 0 100px; }

.tournament-bar:hover {
  background-color: #404040; }

.tournament-bar {
  display: block;
  width: 100%;
  max-width: 1000px;
  background-color: #303030;
  border-left: 5px #136576 solid;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 10px 0; }
  .tournament-bar .image {
    display: inline-block;
    margin-right: 20px; }
  .tournament-bar img {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .tournament-bar .info {
    display: inline-block;
    color: white;
    vertical-align: middle; }
  .tournament-bar .game {
    color: #999999;
    font-size: 14px;
    line-height: 14px;
    margin: 0; }
  .tournament-bar .name {
    color: #cccccc;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0 0 5px 0;
    box-sizing: border-box; }
  .tournament-bar .additional-info {
    display: inline-block;
    color: white;
    vertical-align: middle;
    text-align: right; }
  .tournament-bar .participants {
    font-size: 14px;
    margin: 0 0 10px 0;
    color: #999999; }
  .tournament-bar svg {
    margin: 0 10px; }

.tournament-menu {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px #808080 solid; }
  .tournament-menu a {
    color: #cccccc;
    font-size: 16px;
    padding: 10px 25px;
    box-sizing: border-box; }
  .tournament-menu a:hover {
    text-decoration: none;
    background-color: #404040;
    color: #cccccc;
    border-bottom: 3px #136576 solid; }

.tournament-participants {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-top: 20px; }
  .tournament-participants .team, .tournament-participants .tournament-matches .team-left, .tournament-matches .tournament-participants .team-left, .tournament-participants .tournament-matches .team-right, .tournament-matches .tournament-participants .team-right {
    background-color: #404040;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 15px; }
  .tournament-participants .index {
    display: inline-block;
    background-color: #136576;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px; }
  .tournament-participants .name {
    text-align: center;
    line-height: 30px;
    padding: 0 10px; }

.tournament-matches {
  display: block;
  width: 100%; }
  .tournament-matches .match {
    display: inline-block;
    width: calc(100% - 150px);
    margin: 0; }
  .tournament-matches .round-no {
    text-align: center;
    font-size: 24px;
    font-weight: bold; }
  .tournament-matches .match-bar {
    background-color: #404040;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    margin: 10px 0; }
  .tournament-matches .match-no, .tournament-matches .score, .tournament-matches .edit {
    background-color: #136576;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 5px; }
  .tournament-matches .team, .tournament-matches .team-left, .tournament-matches .team-right {
    display: inline-block;
    width: calc(50% - 50px);
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    padding: 0 5px; }
  .tournament-matches .team-left {
    text-align: right; }
  .tournament-matches .team-right {
    text-align: left; }
  .tournament-matches .score {
    width: 80px;
    background-color: #303030;
    margin: 0 10px; }
  .tournament-matches .spacer {
    padding: 0 5px; }
  .tournament-matches .edit {
    background-color: #303030;
    font-size: 14px; }
  .tournament-matches .edit:hover {
    background-color: #136576;
    cursor: pointer; }

/*# sourceMappingURL=App.css.map */
